#hauptrolle__toolbox {
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    position: fixed;
    left: -250px;
    top: 0;
    width: 230px;
    height: 100%;
    text-align: left;
    padding: 10px;
    background: #34495E;
    color: #ECF0F1;
    transition: all .3s ease-in-out;
    z-index: 99;
}
#hauptrolle__toolbox ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#hauptrolle__toolbox a {
    display: block;
    margin: 0 -10px;
    padding: 8px 10px;
    color: #ECF0F1;
    text-decoration: none;
}
#hauptrolle__toolbox a:hover {
    background: #2c3e50;
}
.toolbox__section li {
    padding-left: 10px;
}
.toolbox__section li:before {
    content: '- ';
}
.toolbox__section li:first-child {
    font-weight: bold;
    padding-left: 0;
}
.toolbox__section li:first-child:before {
    content: "";
}
.toolbox__section {
    margin: 0px -10px 10px -10px;
    padding: 0 10px 10px 10px;
    border-bottom: 1px solid #2c3e50;
}
.toolbox__section:first-child {
    padding-top: 0;
}
.toolbox__section:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
#hauptrolle__toogle {
    position: absolute;
    top: 0;
    right: -50px;
    width: 50px;
    height: 50px;
    background: #E45252;
    display: table;
    text-align: center;
    cursor: pointer;
}
#hauptrolle__toogle span {
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.toolbox_stuff li:first-child, .toolbox_stuff li, .toolbox_stuff li:before {
    font-weight: normal;
    padding-left: 0;
    content: "";
}
